app:
  name: "myapp"
  port: 8080
  debug: true

db:
  host: "db"
  port: 3306
  username: "root"
  password: "123456"
  dbname: "glossika"

redis:
  host: "localhost"
  port: 6379
  password: ""
  db: 0

jwt:
  secret: "mysecret"